<h1>Display your Pirate here</h1>
  <div class = "pirate">
    <h2> Pirate Name: <%= @pirate.name %></h2><br>
    <h2> Pirate Weight: <%= @pirate.weight %></h2><br>
    <h2> Pirate Height: <%= @pirate.height %></h2><br>
  </div>

<h2>Display your first ship here</h2>
  <div class = "pirate">
    <h2> Ship Name: <%= @pirate.name %></h2><br>
    <h2> Ship Type: <%= @pirate.weight %></h2><br>
    <h2> Ship Booty: <%= @pirate.height %></h2><br>
  </div>

<h2>Display your second ship here</h2>
