<h1>Pirate</h1>
  <div class = "pirate">
    <h2> Pirate Name: <%= @pirate.name %></h2><br>
    <h2> Pirate Weight: <%= @pirate.weight %></h2><br>
    <h2> Pirate Height: <%= @pirate.height %></h2><br>
  </div><br>

<h2>First Pirate Ship</h2>
<% @ships.each do |ship| %>
  <div class = "ship-one">
    <h3> Ship Name: <%= ship.name %></h3><br>
    <h3> Ship Type: <%= ship.type %></h3><br>
    <h3> Ship Booty: <%= ship.booty %></h3><br>
  </div><br>
<% end %>

<h2>Second Pirate Ship</h2>
<% @ships.each do |ship| %>
  <div class = "ship-one">
    <h3> Ship Name: <%= ship.name %></h3><br>
    <h3> Ship Type: <%= ship.type %></h3><br>
    <h3> Ship Booty: <%= ship.booty %></h3><br>
  </div>
<% end %>
