<h1>Pirate</h1>
  <div class = "pirate">
    <h2> Pirate Name: <%= @pirate.name %></h2><br>
    <h2> Pirate Weight: <%= @pirate.weight %></h2><br>
    <h2> Pirate Height: <%= @pirate.height %></h2><br>
  </div>

<h2>First Pirate Ship</h2>
  <div class = "ship-one">
    <h3> Ship Name: <%= @pirate.name %></h3><br>
    <h3> Ship Type: <%= @pirate.weight %></h3><br>
    <h3> Ship Booty: <%= @pirate.height %></h3><br>
  </div>

<h2>Second Pirate Ship</h2>
<div class = "ship-two">
  <h3> Ship Name: <%= @pirate.name %></h3><br>
  <h3> Ship Type: <%= @pirate.weight %></h3><br>
  <h3> Ship Booty: <%= @pirate.height %></h3><br>
</div>
